<div class="container">
  <h1>Welcome to the Blog App</h1>
  <!-- pass blogs to blog-list -->
  <!-- <app-blog-list [allBlogs]="blogs"></app-blog-list> -->
  <!-- Create New Blog Button -->
  <button (click)="showCreateForm()">Create New Blog</button>

  <!-- Create Blog Form -->
  <app-blog-create
    *ngIf="showCreate"
    (blogCreated)="handleBlogCreated($event)"
  ></app-blog-create>

  <!-- Displaying a List of Blogs -->
  <div *ngFor="let blog of blogs">
    <h3 (click)="toggleBlogDetail(blog)">
      {{ blog.title }} - {{ blog.date | date }}
    </h3>
    <!-- Show/Hide Blog Detail -->
    <div *ngIf="blog.showDetail">
      <app-blog-detail [blog]="blog"></app-blog-detail>
      <button (click)="showEditForm(blog)">Edit</button>
      <button (click)="deleteBlog(blog.id)">Delete</button>

      <!-- Edit Blog Form *ngIf="blog.showEdit"
        (blogUpdated)="handleBlogUpdated($event)" -->
      <app-blog-edit
        *ngIf="showEdit"
        (blogUpdated)="handleBlogUpdated(blog)"
      ></app-blog-edit>
    </div>
  </div>
</div>
